/*
This file contains all styles needed for the middle form
*/

/*
The main form container
Padding for better view and space from border
Border solid and color same as box shadow to make it look nicer
Border radius for curves on corners like description picture
Used box shadow to look nicer from https://getcssscan.com/css-box-shadow-examples
Use white background reduce background opacity to help readability of inside elements
Use flex display to make to columns of equal width with row direction for large screens
Give minimum height for having enough space in each column
*/
.form {
    padding: 1rem;
    border: 1px rgba(0, 0, 0, 0.24) solid;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(255, 255, 255, 0.3);;
    display: flex;
    flex-direction: row;
    min-height: 400px;
    min-width: 550px;
}

/*
Make questions and response equal width columns
Padding to look nicer and better seperation
Use flex to stack up elements on top of each other
*/
.questions, .response {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

/*
Add media query for screens with width lower than 550px
to show form in rows and make it mobile friendly
*/
@media screen and (max-width: 550px) {
    .form {
        flex-direction: column;
        min-width: 90vw;
    }
    .response {
        min-height: 300px;
        width: 80%;
    }
}

/*
Give direct children of each column padding for better seperation
*/
.questions > *, .response > * {
    padding: .5rem;
}

/*
Give equal height to main rows of response column
note: Used $= to specify all main rows in response ending with --container
*/
.response > [class$=--container] {
    height: 50%;
}

/*
Give every row of the main row of response column equal length(there are 3 rows)
to avoid crazy resizing when there is no response and when we get the response
*/
.response .saved_answer--container > * {
    height: 33%;
}

/*
Give saved answer row dashed border like it was in the description picture
*/
.response .saved_answer--container {
    border: 1px dashed grey;
}

/*
Give margin for male gender radio option
*/
.gender_selection--container div {
    margin-bottom: 5px;
}

/*
Display each button in one row with min width of buttons width
*/
.questions .button--container {
    display: flex;
    flex-direction: column;
    width: min-content;
}

/*
Give margin for submit button
*/
.questions .button--container button {
    margin-bottom: 5px;
}

/*
Give padding between gender and accuracy
*/
.response .prediction_result--container div {
    padding: .6rem 0;
}